body > header {
    position: fixed;
    width: 100%;
    max-width: none;
    padding: 2rem;
    background-color: var(--pico-background-color);
}

body > header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}